{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load static %}
{% block body_class %}template-homepage{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="https://purecss.io/layouts/side-menu/styles.css">
{% endblock extra_css %}
{% block content %}
<body>
<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="./">ITlibrary</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/catalog" class="pure-menu-link">Каталог</a></li>
                <li class="pure-menu-item"><a href="/faq" class="pure-menu-link">FAQ</a></li>
                <li class="pure-menu-item"><a href="/support" class="pure-menu-link">Поддержать</a></li>
                <li class="pure-menu-item"><a href="/upload" class="pure-menu-link">Загрузить   </a></li>
                
            </ul>
        </div>
    </div>
    <div id="">
        <div class="header">
            <h1>Приветствуем на ITlibrary </h1>
            <h3>Здесь вы можете скачать и загрузить книги и стандарты (ГОСТ, ISO, etc) связанные с  IT </h3>
            h
        </div>
        <div class="content">
            <h2 class="">Дисклеймер</h2>
            <p>Контент на сайт загружают пользователи</p>
            <p> Администрация не несет ответственность за загруженные файлы</p>
            <p>Скачивание и копирование материалов сайта разрешены только для личного некоммерческого использования. Если в содержимое сайта были включены материалы, разработанные не администратором сайта, в силу вступает закон о защите авторского права третьих лиц. В частности, материалы, полученные от третьих лиц, будут помечены как таковые. Если, несмотря на это, вы обнаружили нарушение авторского права, просим вас сообщить нам об этом. При заявлении о нарушении закона мы немедленно удалим соответствующие материалы.</p>
            <h2 class="">Если вы правообладатель и увидели свою книгу</h2>
            <p>
            Если книга нарушает право обладания или распространяемую лицензию администрация удалит её 
            Для связи с администрацией напишите на exemple@ex.com
            </p>

        </div>
    </div>
</div>
</body>
{% endblock content %}
